.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .form-group input, 
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 16px;
  }
  
  .form-group input:focus, 
  .form-group select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .add-transaction-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
  }
  
  .add-transaction-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"],
  textarea,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
    width: 100%;
  }
  
  .add-button {
    padding: 12px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .cancel-button{
    padding: 12px 30px;
    background-color: rgb(228, 42, 42);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .cancel-button:hover {
    background-color: #9b0000;
  }
  .add-button:hover{
    background-color: #0056b3;
  }
  