.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .view-report-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .view-report-button:hover {
    background-color: #0056b3;
  }
  
  .total-container {
    text-align: center;
    margin-top: 20px;
  }
  